/*RESET*/
body,
ul,
li {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.slide {
  display: flex;
  gap: 10px;
  overflow: hidden;
}
.slide li {
  flex-shrink: 0;
  width: 80vh;
  max-width: 800px;
}
